<div class="container-fluid">
  <div class="row ">
    <div class="col">
      <mt-back-button></mt-back-button>
      <h4 class="d-inline">Add Collector To Configuration: {{collectorConfiguration.displayName}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                mdbWavesEffect>

        </button>

        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-container></ng-container>
    </div>
  </div>

</div>
