<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Monytor</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let navItem of navItems" class="nav-item" [ngClass]="{'active': navItem == activeNavItem}">
        <a class="nav-link waves-light" (click)="navigateTo(navItem)" mdbWavesEffect>{{navItem.displayText}}<span
            *ngIf="navItem == activeNavItem" class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
