  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="md-form">
          <input type="text" class="form-control" (keyup)="onSearchValueChange($event.target.value)"
            id="searchConfigurationInput" mdbInput />
          <label for="searchConfigurationInput">Search</label>
        </div>
      </div>
      <div class="col-sm-1">
        <button class="btn btn-primary btn-sm btn-danger top-25" [routerLink]="'/administration/add'"><i
            class="material-icons">add</i></button>
      </div>
    </div>
    <ng-container *ngIf="(collectorConfigurations$ | async) as searchResult">
      <mt-collector-configuration-table [collectorConfigurations]="searchResult">
      </mt-collector-configuration-table>
    </ng-container>

  </div>
