<form [formGroup]="collectorConfigurationForm" (ngSubmit)="onSubmit()" class="ml-5 mt-3">
  <div class="row  ">
    <div class="col-sm-4">
      <div class="md-form mt-1 mb-1">
        <input type="text" class="form-control" formControlName="displayName" id="displayNameInput" mdbInput />
        <label for="displayNameInput">Display Name</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="md-form mt-1 mb-1">
        <input type="text" class="form-control" formControlName="schedulerAgent" id="schedulerAgentInput" mdbInput />
        <label for="schedulerAgentInput">Scheduler Agent</label>
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-danger mat-icon-button" type="submit"
    [disabled]="!collectorConfigurationForm.valid"><i class="material-icons mr-1">save</i>Save</button>
</form>
