<form [formGroup]="collectorConfigurationForm" (ngSubmit)="onSubmit()" class="p-4">
  <div class="row">
    <div class="col-sm-4">
      <input type="text" placeholder="Display Name" formControlName="displayName">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <input type="text" placeholder="Scheduler Agent" formControlName="schedulerAgent">
    </div>
  </div>

  <button class="btn btn-primary btn-danger mat-icon-button" type="submit"
    [disabled]="!collectorConfigurationForm.valid"><i class="material-icons mr-1">save</i>Save</button>
</form>
