<div class="main-content">
  <div class="container-fluid">
    <div class="row ">
      <div class="col">
        <mt-back-button></mt-back-button>
        <span><strong>Edit Collector Configuration</strong></span>
      </div>
    </div>

    <ng-container *ngIf="(collectorConfiguration$ | async) as collectorConfiguration">

      <mt-collector-configuration-form [data]="collectorConfiguration" (save)="onSaveCollectorConfiguration($event)">
      </mt-collector-configuration-form>

    </ng-container>
  </div>
</div>
