<table mdbTable striped="true" small="true">
  <thead>
    <tr>
      <th scope="col" style="width: 100px;">Actions</th>
      <th scope="col">Display Name</th>
      <th scope="col">Scheduler Agent</th>
      <th scope="col">Collectors</th>
      <th scope="col">Notifications</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let collectorConfiguration of collectorConfigurations.items">
      <td>
        <button mdbBtn class="p-1 m-0 no-shadow"
          [routerLink]="['/administration/edit', collectorConfiguration.collectorConfigId]">
          <mdb-icon fas icon="edit" class="indigo-text"></mdb-icon>
        </button>

        <button mdbBtn class="p-1 m-0 no-shadow"
          (click)="deleteCollectorConfiguration(collectorConfiguration.collectorConfigId)">
          <mdb-icon fas icon="trash"></mdb-icon>
        </button>
      </td>
      <td>{{collectorConfiguration.displayName}}</td>
      <td>{{collectorConfiguration.schedulerAgentId}}</td>
      <td>{{collectorConfiguration.notificationCount}}</td>
      <td>{{collectorConfiguration.collectorCount}}</td>
    </tr>

  </tbody>
</table>
