/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

@import 'custom/sidebar';

.mt-content {
    position: fixed;
    top: 3rem;
    left: 235px;
    bottom: 0;
    width: 235px;
}